<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721583865790-cmsmpeidadj8d3i2u3bmfh9nuagb59ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721583865790-cmsmpeidadj8d3i2u3bmfh9nuagb59ok</string>
	<key>API_KEY</key>
	<string>AIzaSyAQljEr9hbL2hqHasDWnlkZvPBcn0czIDM</string>
	<key>GCM_SENDER_ID</key>
	<string>721583865790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.can.newsproject-monolith.dev</string>
	<key>PROJECT_ID</key>
	<string>newsproject-3186c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsproject-3186c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721583865790:ios:c28c24e60e73d35c8043ef</string>
</dict>
</plist>